<%- include('partials/head') %> <%- include('partials/nav') %>

<!-- <nav aria-label="breadcrumb">
    <ol class=" align-items-center breadcrumb">
      <li class="breadcrumb-item"><a href="#">Gender</a></li>
      <li class="breadcrumb-item "><a class="genderSelect" href="/directory1#genderSection">Male</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a class="" href="/directory1#musclePick">Biceps</a></li>
    </ol>
    </nav> -->
<div class="container col-lg-12 col-md-12 col-sm-12">
  <!-- <div class="w-75 d-flex justify-content-center excerciseHead">
            <h3>Excercise Name</h3>
        </div>
        <div class="container w-75 col-lg-12 d-flex flex-column flex-lg-row exerciseContent">
            <div class="col-lg-6 col-md-12 col-sm-12 mt-lg-5 exerciseImage">
                <img class="img-fluid" src="images/bicep.gif"></img>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mt-lg-5 exerciseText">
                <h4>
                    <ol>
                        <li>While holding the upper arms stationary, curl the weights forward while contracting the biceps as you breathe out.</li>
                        <li class="mt-2">Continue the movement until your biceps are fully contracted and the bar is at shoulder level.</li>
                        <li class="mt-2">Hold the contracted position for a second and squeeze the biceps hard.</li>
                        <li class="mt-2">Slowly bring the weight back down to the starting position</li>
                    </ol>
                </h4>
            </div>
        </div> -->
  <div class="row">
    <div
      class="w-50 d-none justify-content-between d-lg-flex flex-col bottomNav"
    >
      <!-- <div class="equipment">
        <h4 data-filter="all" id="all" class="activeEq tabs">All</h4>
      </div> -->

      <% let excerciseType = ["Stretches", "Bodyweight", "Dumbbells",
      "Barbells", "Kettlebells"] %> <% for(let excercise of excerciseType){ %>
      <div class="equipment">
        <a
          href="directory?type=<%=excercise%>"
          data-filter="<%=excercise.toLowerCase()%>"
          id="<%=excercise.toLowerCase()%>"
          class=" <%-excercise == excerType?'activeEq':''%> tabs"
          ><%=excercise%></a>
      </div> %> <% } %>

      
    </div>
  </div>
</div>

<div class="container col-lg-8 col-md-12 col-sm-12 mb-5 mt-4">
  <div class="row">
    <% for(let excer of excercises){ %>
    <div class="col-sm-4 col-xl-4 mb-4 ms-0">
      <!-- card body -->
      <div class="card h-100 shadow">
        <img
          class="card-img-top"
          src="<%=excer.excerciseImage%>"
          alt="Card image cap"
        />

        <div class="card-body" style="border-radius: 20%">
          <div class="d-flex justify-content-between">
            <h4 class="card-title" style="font-size: 105%">
              <%= excer.excerciseName %>
            </h4>
          </div>

          <p class="card-text" style="font-size: 80%">
            <%= excer.excerciseDesc %>
          </p>
        </div>
      </div>
    </div>
    
    <% } %>
    <% if(excercises.length==0){ %>
      <div class="h1 text-center">Sorry No excercises Found!</div>
      <% }%>  
  </div>
</div>

<!-- <script type="text/javascript" src="js/directory.js"></script> -->
<link rel="stylesheet" href="css/directory.css" />

<script type="text/javascript">
  const tabs = document.querySelectorAll(".tabs");
  var excerData = "<%- JSON.stringify(excercises)%>";
  for (let excer1 of excerData) {
    console.log(excer1.excerciseName);
  }

  tabs.forEach((tab) => {
    tab.addEventListener("click", () => {
      document.querySelector("a.activeEq").classList.remove("activeEq");
      tab.classList.add("activeEq");
    });
  });

  for (i = 0; i < tabs.length; i++) {
    tabs[i].addEventListener("click", (e) => {
      // e.preventDefault();
      const filter = e.target.dataset.filter;
      console.log(filter);
    });
  }
</script>
