<%- include('partials/head') %> <%- include('partials/nav') %>

<style>
  .addItems{
    color: white;
    text-decoration: none;
  }
  .addFoodItem{
    background-color: #f05454;
  }
  th,td{
    text-align: center;
  }
  input[type=text] {
  border: 2px solid #30475e;
  border-radius: 4px;
}


</style>
 
<div class="container col-lg-12 col-md-12 col-sm-12 mt-5">
  <div class="row " style="height: 4em;" id="exceeded">
    <div
      class="hello h-100 w-100 d-flex justify-content-between align-items-center px-5"
      style="background-color: #30475e; border-radius: 2em; margin-top: -1em;"
    >
      <div class="h4 text-start mt-3" style="color: white">
        Hello, <%=user.firstName%>
        <div class="h6 d-flex">
          <a href="/editProfile" style="color: #f5f5f5; text-decoration: none; display: flex;"
            >Edit Profile</a>
            &nbsp|&nbsp
         <a href="/logout" style="color: #f5f5f5; text-decoration: none; display: flex;"> Logout</a>
                    
        </div>
      </div>
      <div class="col-md-4 order-3 d-flex" >
          <button type="submit" class="showAnalytics btn" style=" margin-left: 2em; background-color: #30475e;  color: #fff;">Show Insights</button>
        <div style="color: white; font-size: 1.5em;">
          &nbsp |&nbsp
        </div>
          <button type="submit" class="showTracker btn " style="background-color: #30475e;  color: #fff;">Show Calorie Tracker</button>
      </div>
      
    </div>
  </div>
  <div class="row mt-2 ">
    <div class="col-md-12 order-2 charts p-4" style="overflow-y: scroll; max-height: 440px;">
      <div class="row">
        <div class="col-md-4 text-center mx-auto">
          <canvas class="donutChart" id="donutChart"></canvas>
        </div>
        <div class="col-md-4 text-center mx-auto">
          <canvas class="donutChart" id="donutChart1"></canvas>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-8 mx-auto">
          <select name="month" id="month">
            <% let mon=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];for(let i in mon) {%> 
              <% dt = new Date(); if(dt.getMonth()==i){ %> 
                <option value="<%=i%>" selected><%=mon[i]%></option>
                <% }else{ %>
                  <option value="<%=i%>"><%=mon[i]%></option>
            <% }} %> 
          </select>
          <canvas class="lineChart" id="lineChart"></canvas>
        </div>
      </div>
    </div>

    

    <div class="col-md-12 order-4 mt-2">
      <!-- <div class="totalText">Total</div> -->
      <table class="table totalTable">
        <thead>
          <tr>
            <th>Total calories</th>
            <th>Total carbohydrate</th>
            <th>Total fat</th>
            <th>Total protein</th>
          </tr>
        </thead>
        <tbody>
          <tr> 
            <% if(total!==undefined) {%> 
              <% for(let i in total) {%> 
                <% console.log("helo deer",total[i].date) %> 
                <% let date=new Date(); if(total[i].date===`${date.getFullYear()}-${date.getMonth()+1}-${date.getDate()}`) {%> 
              <td><%=total[i].totalCalories%></td>
            <td><%=total[i].totalCarbs%></td>
            <td><%=total[i].totalFats%></td>
            <td><%=total[i].totalProteins%></td>
            <%}}}else{%>
              <% for(let i in 4){ %> 
                <td>0</td>
            <%}}%>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-12 order-2 foodSearch p-4" style="overflow-y: scroll; max-height: 440px;">
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div class="h3 text-uppercase text-center fw-bold">Track your calories</div>
          <form action="/search" method="post">
            <input type="text" class="search w-100 rounded p-2" name="searchQuery" id="searchQuery" >
            <button type="submit" class="mt-3 p-2 rounded align-items-center" style="background-color: #30475e; color: white; border: none;">Search Items</button>
          </form>
          <!-- <hr> -->
              <form action="/addItem" method="post" onsubmit="~ addCheck()">
          <table class="my-3 table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Calories</th>
                <th>Carbohydrates</th>
                <th>Fat</th>
                <th>Protein</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><p name="foodName" id="foodName" style="text-transform: capitalize;"><%= foodName%></p></td>
                <td name="calories" id="calories"><%=calories%></td>
                <td name="carbs"><%=carbs%></td>
                <td name="fat"><%=fat%></td>
                <td name="protein"><%=protein%></td>
              </tr>
            </tbody>
          </table>
          <div class="addItemsDiv w-100">
            <div class="row">
              <input type="text" class="addItemsInput w-100 rounded p-1" name="gramsIntake" placeholder="Enter grams intake(default 100)"></input>
            </div>
            <div class="row d-flex justify-content-around mt-3">
              <select name="meal" class="w-50" id="meal">
                <option value="none" disabled selected>Select meal type</option>
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
                <option value="snacks">Snacks</option>
              </select>
               <input type="submit" value="Add items" class="addFoodItem addItems rounded w-25">
              </form>
            </div>
          </div>
          
          <% let foodMeals = ["breakfast", "lunch", "dinner", "snacks"] %> 
          <% for(let foodMeal of foodMeals){ %>
            <hr>
              <div class="<%=foodMeal%>Div w-100">
                <div class="h5"><%=foodMeal%></div>
                <ul class="list-group d-flex justify-content-around w-100" id="<%=foodMeal%>List"> 
                  <% if(foodData!==undefined){ %> 
                    <% foodData.forEach(foodDatas =>{  %>
                      <%let date=new Date(); if(foodDatas.date === `${date.getFullYear()}-${date.getMonth()+1}-${date.getDate()}`){ %> 
                      <% if(foodDatas.meal === foodMeal){ %> 
                  <li class="list-group-item h6" style="position: relative;"><%=foodDatas.foodName %> 
                    <div class="remEdit">
                      <a href="/userDasboard/FoodDelete/<%= foodDatas._id%>" style="text-decoration: none; color: #f05454; font-size: .8em;" onclick="removeFood">Remove</a>
                      <div class="vr"></div>
                      <a href="" style="text-decoration: none; color: #f05454; font-size: .8em" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="editIntake('<%=foodDatas.foodName %>', '<%= foodDatas._id%>','<%= foodDatas.gramsIntake%>')">Edit Intake (gms)</a>
                    </div>
                    <p style="position: absolute; right: .8em; top: 1em;"><%=foodDatas.gramsIntake%>g</p>
                    </li>
                    <% } %> 
                    <% }})%> 
                    <% } %> 
                </ul>
              </div>
          <% }%> 
          
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="foodNameModal"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/foodIntakeUpdate" method="post">
                <div class="modal-body">
                    <div class="form-group">
                      <label for="foodIntakeModal">Enter new food quantity</label>
                      <input type="text" class="form-control" id="foodIntakeModal" placeholder="Please add new food Intake" name="foodIntake">
                      <input type="hidden" class="form-control" id="foodIdModal" name="foodID">
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
                
              </form>
              </div>
            </div>
          </div>

        </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%let i=0; let j=0%> 
        <% for(let fd2 of foodData){ %> 
          <input type="hidden" id="<%= "getCalorie"+i%>" value="<%= fd2.calories %>">
          <input type="hidden" id="<%= "getFat"+i%>" value="<%= fd2.fat %>">
          <input type="hidden" id="<%= "getProtein"+i%>" value="<%= fd2.protein %>">
          <input type="hidden" id="<%= "getCarbohydrate"+i%>" value="<%= fd2.carbohydrate %>">
          <input type="hidden" id="<%= "getGramsIntake"+i%>" value="<%= fd2.gramsIntake %>">
          <input type="hidden" id="<%= "getDate"+i%>" value="<%= fd2.date %>">
          <% i = i+1 %> 
          <% } console.log(i)%> 

          <input type="hidden" id="reqCalories" value="<%= user.reqCalories %> ">
          
          <% for(let x in total){ %> 
            <input type="hidden" id="<%= "totCal"+j%>" value="<%=total[x].totalCalories%>">
            <input type="hidden" id="<%= "totCarb"+j%>" value="<%=total[x].totalCarbs%>">
            <input type="hidden" id="<%= "totPro"+j%>" value="<%=total[x].totalProteins%>">
            <input type="hidden" id="<%= "totFat"+j%>" value="<%=total[x].totalFats%>">
            <input type="hidden" id="<%= "totDate"+j%>" value="<%=total[x].date%>">
            <% j = j+1 %> 
          <% } console.log(j)%> 
        
<input type="hidden" id="count" value="<%=i%>">
<input type="hidden" id="countj" value="<%=j%>">

<script>

  
  // breakfast list 
  function addCheck(){
    let mealType = $("#meal option:selected").val()
    alert(mealType)
    let intakeGrams = $(".addItemsInput").val()
    if(mealType==="none"){
      alert("Select a meal type")
      return false;
    }
    if(intakeGrams===""){
      $(".addItemsInput").css("border-color", "red")
      alert("Enter intake grams")
      return false
    }
  }

  function editIntake(x,y,z){
    $("#foodIntakeModal").val(z)
    $("#foodNameModal").text(x)
    $("#foodIdModal").val(y)
  }

// show analytics/tracker
$(".charts").hide()

$(".showTracker").on("click", ()=>{
  $(".charts").hide()
  $(".foodSearch").fadeIn()
})

$(".showAnalytics").on("click", ()=>{
  $(".foodSearch").hide()
  $(".charts").fadeIn()
})

// ------charts--------- 
  var doughnutChart = document.getElementById("donutChart").getContext("2d");
  var doughnutChart1 = document.getElementById("donutChart1").getContext("2d");
  var lineChart = document.getElementById("donutChart").getContext("2d");

  const totCal1 = []
  const totCarb = []
  const totPro = []
  const totFat = []
  const totDate = []

  const countj = $("#countj").val()
  const reqCalories = parseInt($("#reqCalories").val())

    for(let j in countj){
      totCal1.push(parseInt($("#totCal"+j).val()))
      totCarb.push($("#totCarb"+j).val())
      totPro.push($("#totPro"+j).val())
      totFat.push($("#totFat"+j).val())
      totDate.push($("#totDate"+j).val())
    }

    console.log()

    var calDate = {};

    for(let i = 0; i < totCal1.length; i++){
      calDate[totDate[i]] = totCal1[i];
    }

    console.log("lkjhg",calDate)

    var myDoughnutChart = new Chart(doughnutChart, {
    type: "doughnut",
    data: {
      labels: ["Proteins", "Fats", "Carbohydrates"],
      datasets: [
        {
          label: "Calories",
            data: [totPro.slice(-1)[0],totFat.slice(-1)[0], totCarb.slice(-1)[0]],
          backgroundColor: [
            "#79addc",
            "#ffc09f",
            "#ffee93",
            "#adf7b6"
          ],
          hoverOffset: 4,
        },
      ],
    },
  });



  var myDoughnutChart1 = new Chart(doughnutChart1, {
    type: "doughnut",
    data: {
      labels: ["Calories eaten", "Calories Required"],
      datasets: [
        {
          label: "Calories",
          data: [totCal1.slice(-1)[0], reqCalories-totCal1.slice(-1)[0]],
          backgroundColor: [
            "#79addc",
            "#ffc09f",
          ],
          hoverOffset: 4,
        },
      ],
    },
  });

  console.log(totCal1.slice(-1)[0])

  
  if(reqCalories<totCal1.slice(-1)[0]){
    $("#exceeded").css("margin-bottom", "3em")
    $("#exceeded").append(`<div class="mt-3 alert alert-danger w-50 mx-auto text-center" role="alert">
      you have exceeded your required calories :(
</div>`)


  }

  var dt = new Date();
  var year = dt.getFullYear();
  var xValues=[];
  var yValues=[];
  let dayCalorie = [];
  var daysInMonth=new Date(year, 1, 0).getDate();

  for (let i = 100; i <= 1000; i+=200) {
    yValues.push(i);
  }
  for (let i = 1; i <= daysInMonth; i++) {
    xValues.push(i);
    dayCalorie.push(0);
  }
  
  for(let i=0; i<countj;i++){
      if("0"+dt.getMonth()===totDate[i].split("-")[1]){
        dayCalorie[totDate[i].split("-")[2] -1] += totCal1[i]
        console.log(dayCalorie)
      }
  }

  const labels = 1;
  var mylinechart=new Chart("lineChart", {
    type: "line",
    data: {
      labels: xValues,yValues,
      datasets: [
        {
          label: "Calories",
          data: dayCalorie,
          fill: false,
          borderColor: "rgb(75, 192, 192)",
          tension: 0.1,
        },
      ],
    },
  });
  
  $("#month").on("change",()=>{
    console.log(dt.getMonth())
    var month= parseInt($("#month option:selected").val())+1;
    daysInMonth = new Date(year, month, 0).getDate();
    let xValues=[];
    let dayCalorie = [];

    for (let i = 1; i <= daysInMonth; i++) {
      xValues.push(i);
      dayCalorie.push(0);
    }
    const labels = 1;
    mylinechart.destroy();
    for(let i=0; i<countj;i++){
      console.log(month)
      if(month===parseInt(totDate[i].split("-")[1])){
        dayCalorie[totDate[i].split("-")[2] -1] += totCal1[i]
        console.log(dayCalorie)
      }
  }

console.log("dasdas",'<%=total.totalCalories%>')
    mylinechart=new Chart("lineChart", {
      type: "line",
      data: {
        labels: xValues,yValues,
        datasets: [
          {
            label: "Calories",
            data: dayCalorie,
            fill: false,
            borderColor: "rgb(75, 192, 192)",
            tension: 0.1,
          },
        ],
      },
    });
  });
</script>
<script>
  const selected = document.querySelector(".selected");
const optionsContainer = document.querySelector(".options-container");

const optionsList = document.querySelectorAll(".option");

selected.addEventListener("click", () => {
  optionsContainer.classList.toggle("active");
});

optionsList.forEach(o => {
  o.addEventListener("click", () => {
    selected.innerHTML = o.querySelector("label").innerHTML;
    optionsContainer.classList.remove("active");
  });
});

</script>
